// Define variables for your color scheme

// For example:
$red: #eb56f0;
$blue: rgb(235, 86, 240);
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$turqoise: #2E788E;
