 h3 {
  margin: 30px;
 }

 input[type=text] {
  width: 100%;
  padding: 6px;
  font-size: 18px;
  margin-bottom: 20px;
 }

 input[type=submit] {
  font-family: 'Open Sans', sans-serif;
  padding: 5px 10px;
  border-radius: 2px;
  border: none;
  font-size: 20px;
  width: 150px;
  color: white;
  font-weight: lighter;
  background-color: #474747;
  opacity: 1;
  &:hover {
    background-color: #b5b6b9;
    color: black;
  }
 }

 .back-color {
   background-color: #b3d2db;
 }

 .form-new {
    margin-bottom: 50px;
 }
