.profile-banner {
  height: 350px;
  background-size: cover;
  background-position: center;
  margin-bottom: 50px;
}

.frame {
  background-image: url("avatar-frame.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 50px solid transparent;
  padding: 8px;
  margin: auto;
  margin-top: 50px;
  width: 380px;
  height: 250px;
}

.user-avatar {
  width: 200px;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  content-align: center;
  margin: auto;
  padding: 5px;
}

.user-info {
  color: white;
  font-weight: 300;
  line-height: 32%;
  font-size: 30px;
  margin: auto;
  margin-top: 150px;
  text-shadow: 1px 1px 4px rgba(10,4,3,0.5);
}

.booking-card {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin: 12px 0px;
}

.green-accepted {
  a {
    color: rgba(41, 101, 86, 0.6);
    padding: 2px 4px;
    margin-right: 5px;
    border-radius: 5px;
    text-decoration: none;
    border: 0.5px solid rgba(41, 101, 86, 0.6);
  }
}

.red-declined {
  a {
    padding: 2px 4px;
    border-radius: 5px;
    color: rgba(165, 38, 59, 0.6);
    text-decoration: none;
    border: 0.5px solid rgba(165, 38, 59, 0.6);
  }
}

.my-something-upcased {
  font-weight: 300;
  line-height: 28%;
  font-size: 30px;
}

.margin-bottom-bookings {
  margin-bottom: 28px;
}

.booking-card img {
  height: 100%;
  width: 120px;
  object-fit: cover;
  padding: 10px;
}

.booking-card h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.booking-card p {
  font-size: 16px;
  //line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  //margin-top: 8px;
}

.booking-info {
  margin-right: 28px;
  margin-left: 5px;
}

.booking-info-flex {
  display: flex;
  justify-content: space-between;
}

