.main {
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.header {
  height: 100px;
  padding: 20px;
  font-size: 10px !important;
  text-align: center;
}

.card-photo-horizontal {
  height: 250px;
  margin: 8px;
  //box-shadow: 6px 6px 6px -3px rgba(0,0,0,0.75);
}

.card-photo-vertical {
  height: 350px;
  margin: 8px;
}

.photo-border {
  border: 10px solid white;
  border-radius: 1px;
  box-shadow: inset 0px 0px 6px 1px rgba(0,0,0,0.75);
  background-color: white;
}

.card-details {
  font-family: 'Raleway', sans-serif;
  color: white;
  height: 80px;
  padding: 5px 10px 30px 10px;
  font-size: 20px;
  text-decoration: none;
}

.cool-title {
  line-height: 40%;
  padding-top: 8px;
  text-shadow: 3px 3px 3px #000000;
}

.right-details-card {
  font-weight: lighter;
  line-height: 70%;
  padding-top: 5px;
  text-shadow: 2px 2px 2px #000000;
}

.flex-details {
  display: flex;
  justify-content: space-between;
  padding: 0px;
}

.art-card-horizontal {
  border-radius: 2px;
  padding: 8px;
  margin-bottom: 15px;
  width: 380px;
}

.art-card-vertical {
  border-radius: 2px;
  padding: 8px;
  margin-bottom: 15px;
  width: 310px;
}
