.background-booking {
  background-size: cover;
  background-position: center;
  height: 100vh;
  padding-top: 100px;
}

.background-white {
  background-color: white;
  border-radius: 4px;
  padding: 60px 50px;
}

.text-form {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}
