<div class="background-booking" style="height: calc(100vh - 65px); overflow: scroll; background-image: url('<%= cl_image_path("NOVOART/background_index")%>')">
  <div class="margin-upper">

    <div class="container">
      <div class="row justify-content-center back">
        <div class="col-md-6 background-white">
          <div class="form-new">
            <h3>Upload your art piece for rent</h3>
            <%= render 'form', art: @art %>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
